<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-librarytag" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-librarytag</name>
    <js-module name="nfcv" src="www/cordova-plugin-librarytag.js">
        <clobbers target="nfcv"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordova-plugin-librarytag">
                <param name="android-package"
                       value="com.kkontagion.LibraryNfcVPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/LibraryNfcVPlugin.java"
                     target-dir="src/com/kkontagion"/>
        <source-file src="src/android/NfcVTag.java"
                     target-dir="src/com/kkontagion"/>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-feature android:name="android.hardware.nfc" android:required="false"/>
        </config-file>
    </platform>
</plugin>
